@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --clr-purple: #6070ff;
  --clr-white: #fff;
  --clr-para: #344563;
  --clr-gray-100: #b3bac5;
}

* {
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  background-color: #fff;
  margin: 0;
}

.img-i {
  width: 100%;
}

a {
  text-decoration: none;
}

.logo a,
.menu-icon a {
  color: var(--clr-purple);
  font-weight: 700;
  font-size: 18px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background-color: var(--clr-white);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  align-items: center;
}

.dev a {
  font-weight: 500;
  color: #7f8cff;
}

.nav-link a {
  color: #fff;
}

.social-icons a {
  margin-right: 1.2rem;
}

.nav-link a:hover {
  color: var(--clr-para);
}

.bar1,
.bar2,
.bar3 {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--clr-purple);
}

.nav-items {
  display: block;
  position: absolute;
  background: var(--clr-purple);
  top: 0;
  left: -100%;
  line-height: 60px;
  height: 100vh;
  font-size: 32px;
  text-align: left;
  font-weight: 600;
  opacity: 0.9;
  padding-top: 3.5rem;
  list-style: none;
}

.nav-items.active {
  left: 0;
  width: 100%;
}

.menu-icon.active {
  z-index: 2;
  display: block;
}

/* Styling the front page */

.dev {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: var(--clr-white);
  border: 1px solid #eaeff1;
  border-bottom-left-radius: 5rem;
  box-shadow: 0 10px 10px -10px rgba(83, 81, 81, 0.15);
  position: relative;
}

.who-am-i {
  margin: 9rem 2rem;
}

.dev h1 {
  font-weight: 700;
  font-size: 2.5rem;
  color: #172b4d;
}

.dev p {
  font-size: 20px;
  font-weight: 300;
  color: var(--clr-para);
  margin: 1.5rem 0;
}

.social-icons {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-top: 0.5rem;
}

.social-icons svg {
  width: 1.5rem;
}

main {
  display: grid;
}

.card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: var(--clr-white);
  border: 1px solid #dfe1e6;
  padding: 1rem;
  gap: 12px;
  border-radius: 1rem;
  margin: 2rem 2rem 0 2rem;
  box-shadow: 8px 8px 10px -10px rgb(209, 204, 204);
}

.card-block p {
  font-weight: 400;
  font-size: 16px;
  color: var(--clr-para);
  line-height: 20px;
}

.card-block h2 {
  font-weight: 700;
  font-size: 2.5rem;
  color: #172b4d;
}

.card-frame {
  display: flex;
  gap: 0.8rem;
  padding: 0;
  margin-bottom: 0.5rem;
}

.card-frame li {
  margin: 5px;
  font-size: 14px;
  color: #7a869a;
}

.card-frame .no-count {
  list-style: none;
  color: var(--clr-para);
  font-weight: 600;
  margin-left: 0;
}

.card-tags {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 1rem 0;
}

.card-tags li {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
  background-color: #ebebff;
  color: var(--clr-purple);
  padding: 4px 12px;
  border-radius: 8px;
  font-size: 0.75rem;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 0.03rem;
}

button {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 12px;
  border: 1px solid var(--clr-purple);
  border-radius: 8px;
  color: var(--clr-purple);
  background-color: transparent;
  letter-spacing: 0.03rem;
  font-size: 17px;
  width: max-content;
}

.card-button:hover {
  background-color: var(--clr-purple);
  color: var(--clr-white);
}

/* About me style */
.about {
  box-sizing: border-box;
  background: var(--clr-white);
  border: 1px solid #f5f6f8;
  width: auto;
  height: max-content;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 5rem;
  box-shadow: 0 -10px 10px -10px rgba(83, 81, 81, 0.15);
  margin-bottom: 10rem;
}

.about-child {
  padding: 114px 24px;
}

.about h2 {
  font-size: 3.5rem;
  line-height: 52px;
  font-weight: 700;
  max-width: 300px;
}

.about p {
  color: var(--clr-para);
  line-height: 24px;
  font-size: 1rem;
  font-weight: 400;
  margin: 1rem 0;
  padding: 1.5rem 0;
}

.skill-list ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 2rem;
}

.skill-list li {
  list-style: none;
}

.skill-list .p {
  font-weight: 500;
  font-size: 20px;
  color: #000;
  padding: 1.8rem 0;
}

.lang {
  display: flex;
  flex-direction: column;
}

.lang li {
  display: flex;
  align-items: center;
  color: #253858;
  font-size: 14px;
  background: #f7f7f9;
  padding: 12px;
  margin: 6px 0;
  border-radius: 8px;
}

/* popUp */
.popButtoms img {
  padding-left: 10px;
}

/* end */

li .lang-child img {
  margin-right: 10px;
}

.counter {
  margin-top: 10px;
  float: right;
}

.hr {
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}

/* contact form styles */
.form-group {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-purple);
  box-sizing: border-box;
  border: 1px solid var(--clr-purple);
  border-top-left-radius: 5rem;
  padding: 6rem 1.8rem;
  height: auto;
  box-shadow: -5px -15px 10px -10px rgba(83, 81, 81, 0.15);
}

.form-input {
  position: relative;
}

.form-bg-img {
  position: absolute;
  width: 60%;
  height: auto;
  left: 160px;
}

.form-group h2 {
  text-align: center;
  font-size: 2.5rem;
  line-height: 52px;
  color: var(--clr-white);
  padding-top: 6rem;
}

.form-group p {
  font-size: 1.2rem;
  line-height: 28px;
  text-align: center;
  color: var(--clr-white);
  font-weight: 400;
  display: flex;
  margin: 2rem 0;
}

.form-group input,
textarea {
  background-color: var(--clr-white);
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 0.8rem 0;
  margin: 10px 0;
  width: 100%;
  color: var(--clr-gray-100);
}

::placeholder {
  font-family: 'Poppins', sans-serif;
  color: var(--clr-gray-100);
  font-size: 15px;
  padding-left: 1rem;
}

.btn {
  background: var(--clr-white);
  display: flex;
}

.btn:hover {
  background-color: var(--clr-purple);
  color: var(--clr-white);
}

.error {
  position: absolute;
  left: 10rem;
  bottom: 1rem;
  color: rgb(255, 0, 0);
  font-weight: bold;
}

/* PopUp Window */
.feature {
  background-color: #fff;
  width: 60%;
  height: 95%;
  padding: 0 2rem;
  overflow-y: scroll;
  border-radius: 16px;
}

.overlay-content {
  width: 100%;
  height: 100%;
  background-color: rgba(193, 199, 208, 0.2);
  backdrop-filter: blur(8px);
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.disable {
  display: none;
}

.feature p {
  font-size: 16px;
  display: flex;
}

.popBottomContent {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.popButtoms {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 1.5rem;
  border-top: 1px solid #ebecf0;
  margin-bottom: 0;
  width: -webkit-fill-available;
}

.feature .popButtoms .secondchild {
  float: right;
}

.model-tags {
  display: flex;
  flex-flow: row wrap;
  height: max-content;
  column-gap: 10px;
  row-gap: 10px;
}

.model-tags li {
  list-style: none;
  flex-flow: row wrap;
  height: 16px;
}

.model_img {
  width: 100%;
  max-height: 650px;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: 100%;
}

.close-overlay {
  border: none;
  color: #000;
  font-size: 1.5rem;
}

.feature .featureList li {
  font-size: 15px;
  margin: 1rem inherit;
}

.feature .featureList .no-count {
  color: #344563;
}

.model-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  height: 30px;
}

.model-top h3 {
  font-size: 30px;
  line-height: 52px;
  color: #091e42;
}

.popButtoms a:hover {
  color: var(--clr-para);
}

/* Style for 320px screens  */

@media screen and (min-width: 320px) {
  .form-group {
    background-image: url(img/contact-form-shapes-mobile.svg);
    background-repeat: no-repeat;
    background-position: 100% 100px;
    background-size: contain;
  }

  .dev {
    background-image: url(img/header-shapesmobile@2x.svg);
    background-position: 0% auto;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
  }

  .dev h1 {
    font-size: 3rem;
    max-width: 300px;
    line-height: 4rem;
  }

  .about {
    margin: 5rem 0 0 0;
    padding-bottom: 6rem;
  }

  .about-child a {
    font-weight: 500;
    color: #7f8cff;
  }

  .skill-list .p {
    margin: 0 1.8rem;
  }

  /* PopUp window */
  .model-top h3 {
    line-height: 25px;
    font-size: 18px;
  }

  .model-tags {
    display: flex;
    row-gap: 10px;
  }

  /* PopUp */
  .popButtoms a {
    font-size: 13px;
  }

  .feature {
    padding: 0 1rem;
  }

  .feature p {
    font-size: 12px;
  }

  .model-tags li {
    font-size: 11px;
    margin-right: 0;
  }
}

/* Styles for 480px screen */

@media screen and (min-width: 480px) {
  .form-form {
    background-image: url(img/contact-form-shapes-mobile.svg);
    background-repeat: no-repeat;
    background-position: 0% auto;
    background-size: cover;
  }

  .dev {
    background-image: url(img/header-shapesmobile@2x.svg);
    background-position: 0% auto;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
  }

  .dev h1 {
    font-size: 3rem;
    max-width: 400px;
    line-height: 4.55rem;
  }

  .card-block h2 {
    font-size: 3rem;
  }

  .about h2 {
    font-size: 4rem;
    line-height: 70px;
    max-width: 200px;
  }

  .about {
    margin: 5rem 0 0 0;
    padding-bottom: 6rem;
  }

  .about-child a {
    font-weight: 500;
    color: #7f8cff;
  }
}

/* Styling for 600px screen */

@media screen and (min-width: 600px) {
  .form-form {
    background-image: url(img/contact-form-shapes-mobile.svg);
    background-repeat: no-repeat;
    background-position: auto;
    background-size: 100% auto;
  }

  .dev {
    background-image: url(img/header-shapesmobile@2x.svg);
    background-position: auto;
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 100%;
  }

  .menu-icon {
    display: none;
  }

  .nav-link {
    display: flex;
    justify-content: flex-end;
    margin: 0.5rem;
    color: var(--clr-para);
  }

  .dev h1 {
    font-size: 3rem;
    line-height: 4.55rem;
    max-width: 600px;
  }

  .card-block h2 {
    max-width: 400px;
    font-size: 3.5rem;
    line-height: 65px;
  }

  .dev p {
    font-size: 20px;
    line-height: 32px;
  }

  .about h2 {
    max-width: 300px;
    font-size: 5.5rem;
    line-height: 80px;
  }

  .card {
    margin: 2rem 4rem;
  }

  .about {
    margin: 5rem 0 0 0;
    padding-bottom: 6rem;
  }

  .about-child {
    margin: auto 4rem;
  }

  .about-child a {
    font-weight: 500;
    color: #7f8cff;
  }

  .form-group h2 {
    padding-top: 2rem;
  }

  .skill-list .p {
    margin: 0 5.3rem;
  }

  .nav-items {
    display: flex;
    position: static;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
    height: 0;
    padding-top: 0;
    background: none;
    font-weight: 500;
    opacity: 1;
    align-items: center;
    justify-content: end;
    font-size: 15px;
  }

  .nav-link a {
    color: var(--clr-para);
  }

  /* PopUp window */
  .model-top h3 {
    line-height: 25px;
    font-size: 18px;
  }

  .model-tags {
    display: flex;
    row-gap: 10px;
  }
}

/* Styles for 768px screens */

@media screen and (min-width: 768px) {
  .form-group {
    background-image: url(img/contact-form-background-shapes.svg);
    background-repeat: no-repeat;
    background-position: 100% 100px;
    background-size: contain;
  }

  .dev {
    background-image: url(img/Header-bg.svg);
    background-position: 0% 100px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
  }

  .about {
    display: grid;
    grid-template-columns: 300px 2fr;
    padding-top: 5rem;
    margin-bottom: 0;
  }

  .logo {
    transition-delay: 150ms;
    transition-duration: 350ms;
  }

  .logo a {
    margin-left: 3.5rem;
  }

  .logo:hover {
    transform: scale(1.2);
  }

  .dev h1 {
    font-size: 3rem;
    line-height: 4.55rem;
    max-width: 400px;
  }

  .dev p {
    font-size: 20px;
  }

  .dev a {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .dev-child {
    margin: 8rem;
  }

  .social-icons svg {
    width: 1rem;
  }

  .card img {
    height: 100%;
    width: 100%;
  }

  .social-icons svg:hover {
    transition: transform 250ms;
    transform: scale(1.2);
  }

  .card-block h2 {
    font-size: 2rem;
    line-height: 35px;
    font-weight: 600;
  }

  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin: 3rem;
  }

  /* PopUp */
  .popButtoms img {
    padding-left: 10px;
  }

  /* end */

  .card1 img:nth-of-type(1) {
    order: 1;
  }

  .card-frame {
    margin: 0;
  }

  .card-block {
    margin-top: 0.5rem;
  }

  .card-block p {
    font-size: 16px;
    color: var(--clr-para);
  }

  .card-tags li {
    font-size: 0.9rem;
  }

  .about-child {
    margin: auto 0 0 3rem;
    padding: 4rem 0 8rem 0;
  }

  .about h2 {
    font-size: 3rem;
    line-height: 50px;
    font-weight: 600;
  }

  .about-child a {
    font-weight: 500;
    color: #7f8cff;
  }

  .about p {
    padding-bottom: 0;
  }

  .skill-list {
    margin-right: 3rem;
  }

  .form-child {
    margin: 0 8rem;
  }

  .form-group h2 {
    padding-top: 2rem;
  }

  li .lang {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
  }

  .lang li {
    display: block;
    flex-direction: column;
    transition-delay: 150ms;
    transition-duration: 350ms;
  }

  .model-tags li {
    list-style: none;
  }

  .lang li:hover {
    transform: scale(1.3);
  }

  .skill-list .p {
    padding-bottom: 1rem;
    margin: 0 0 0 2rem;
  }

  .skill-list p {
    padding: 1.1rem 0;
  }

  /* PopUp */
  .nav-items {
    display: flex;
    position: static;
    left: 0;
    right: 0;
    top: 50px;
    bottom: 0;
    height: 0;
    padding-top: 0;
    background: none;
    font-weight: 500;
    opacity: 1;
    align-items: center;
    justify-content: end;
    font-size: 15px;
  }

  .nav-link a {
    color: var(--clr-para);
  }

  /* PopUp */
  .feature {
    background-color: #fff;
    width: 60%;
    height: 95%;
    padding: 0 2rem;
    overflow-y: scroll;
    border-radius: 16px;
  }

  .overlay-content {
    width: 100%;
    height: 100%;
    background-color: rgba(193, 199, 208, 0.2);
    backdrop-filter: blur(8px);
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .disable {
    display: none;
  }

  .feature p {
    font-size: 16px;
    margin-bottom: 4rem;
    display: flex;
  }

  .popBottomContent {
    display: grid;
    grid-template-columns: 1fr 280px;
    padding-top: 1rem;
  }

  .popButtoms {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-top: 1rem;
    border-top: 1px solid #ebecf0;
  }

  .popButtoms a {
    border: 1px solid var(--clr-purple);
    border-radius: 8px;
    color: var(--clr-purple);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .popButtoms a:hover {
    color: var(--clr-para);
  }

  .model-tags {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    row-gap: 10px;
    flex-flow: row wrap;
    height: max-content;
  }

  .model_img {
    width: 100%;
    max-height: 650px;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: 100%;
  }

  .close-overlay {
    border: none;
    color: #000;
    font-size: 1.5rem;
  }

  .feature .featureList li {
    font-size: 15px;
    margin: 0 inherit;
    margin-top: 0;
  }

  .feature .featureList .no-count {
    color: #344563;
  }

  .model-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    height: 25px;
  }

  .model-top h3 {
    font-size: 30px;
    line-height: 52px;
    color: #091e42;
  }
}

/* Styles for 900px screen */

@media screen and (min-width: 900px) {
  .dev {
    background-image: url(img/Header-bg.svg);
    background-position: 0% 100px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
  }

  .about {
    display: grid;
    grid-template-columns: 500px 1fr;
    padding-top: 5rem;
    margin-bottom: 0;
  }

  .about-child {
    margin-left: 5rem;
    padding-bottom: 10rem;
  }

  .dev h1 {
    max-width: 395px;
    font-size: 3rem;
  }

  .dev p {
    margin: auto 0 3rem 0;
  }

  .dev a {
    font-size: 1rem;
  }

  .about-child a {
    font-size: 1rem;
    font-weight: 500;
    color: #7f8cff;
  }

  .skill-list {
    margin-right: 5rem;
  }

  .social-icons {
    margin: 0.8rem 0;
  }

  .social-icons svg {
    width: 1.5rem;
  }

  .social-icons svg:hover {
    transition: 250ms;
    transform: scale(1.5);
    fill: var(--clr-purple);
  }

  .form-child {
    margin: 0 10rem;
  }

  .form-group h2 {
    padding-top: 2rem;
  }

  .lang {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .dev-child {
    margin-left: 14rem;
    margin-right: 14rem;
    padding: 7rem 0;
  }

  .card {
    gap: 1rem;
    margin: 3rem 10rem;
  }

  .card-block {
    line-height: 15px;
    margin-top: 0;
  }

  .card-frame {
    margin: 0.5rem 0;
  }

  .card-frame li {
    font-size: 14px;
    margin: 0 5px;
  }

  .card-block p {
    font-size: 16px;
  }

  .card-block h2 {
    font-size: 1.8rem;
    line-height: 35px;
  }

  .card-tags {
    margin: 1rem 0;
  }

  .card-tags li {
    font-size: 1rem;
    padding: 4px 14px;
  }

  .nav-items {
    margin-right: 7rem;
  }

  .logo a {
    margin-left: 7rem;
  }
}

/* Style for 1024px screen */
@media screen and (min-width: 1024px) {
  .card {
    gap: 1.5rem;
  }

  .card-frame li {
    margin: 10px;
    font-size: 18px;
    line-height: 24px;
  }

  .card-block {
    padding-top: 40px;
  }

  .nav-link a {
    margin: 0 0.5rem;
  }

  .form-child {
    margin: 0 20rem;
  }

  .card-tags li {
    padding: 4px 12px;
    font-size: 12px;
  }

  .btn {
    font-size: 17px;
    padding: 14px;
  }
}
